.main-header {
    background: url(../Green/home.jpg) no-repeat;
    margin: 0;
    font-family: "Poppins";
}

#topMenu {
    width: 90%;
    margin: auto;
    position: relative;
}

#topMenu img {
    padding: 50px 0 50px;
}

.menu {
    position: absolute;
    top:  30%;
    right: 0;
}

.menu li {
    list-style: none;   
}

.topMenu div ul{
    display: inline;
    padding-right: 15px;
}

#body {
    width: 80%;
    margin: auto;
    position: relative;
}

#save {
    font-family: 'Black Han Sans', sans-serif;
    color: #4caf50;

}


#Gallery {
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
    color: #744d29;
}

#purpose {
    margin-top: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
}

#learn {
    margin-top: 10px;
}

.carousel {
    margin-top: 0;
    position: relative;
}

.action {
    height: 500px;
    background-image: url(section2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.action h3{
    font-size: 6em;
    margin: 0;
    text-align: center;
    margin-bottom: 60px;
    font-family: "Poppins";
    color: #744d29;
}

.action h4{
    margin-top: 30px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: "Poppins";
    color: #744d29;
}